<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
  <script th:href="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.js}"></script>
</head>
<body class="text-center">
  <h1>Registro</h1>
  <form th:action="@{'/registro'}" method="POST" th:object="${registro}" class="container">
  <div class="row">
      <label class="col-sm-3" for="username">Nome de Usuário:</label>
          <div class="form-group col-sm-9">
            <input class=" form-control" type="text" id="username" 
            th:field="*{username}" 
            th:classappend="${#fields.hasErrors('username')? 'is-invalid': '' }"/>
            <strong class="text-danger"
            th:if="${#fields.hasErrors('username')}"
            th:errors="*{username}"
            >Mensagem de erro username</strong>
        </div>
  </div>
  <br/> 

  <div class="row">
        <label class="col-sm-3" for="fullname">Nome Completo:</label>
          <div class="form-group col-sm-9">
            <input class=" form-control" type="text" id="fullname" 
            th:field="*{fullname}" 
            th:classappend="${#fields.hasErrors('fullname')? 'is-invalid': '' }"/>
            <strong class="text-danger"
            th:if="${#fields.hasErrors('fullname')}"
            th:errors="*{fullname}"
            >Mensagem de erro fullname</strong>
        </div>
  </div>
  <br/>

  <div class="row">
    <label class="col-sm-3" for="birthday">Data Nascimento:</label>
      <div class="form-group col-sm-9">
        <input class=" form-control" type="text" id="birthday" 
        th:field="*{birthday}" 
        th:classappend="${#fields.hasErrors('birthday')? 'is-invalid': '' }" placeholder="dd/mm/aaaa"/>
        <strong class="text-danger"
        th:if="${#fields.hasErrors('birthday')}"
        th:errors="*{birthday}"
        >Mensagem de erro birthday</strong>
    </div>
  </div>
  <br/>

<div class="row">
  <label class="col-sm-3" for="pets">Animais de Estimação:</label>
      <div class="form-group col-sm-9">
        <input class=" form-control" type="text" id="pets" 
        th:field="*{pets}" 
        th:classappend="${#fields.hasErrors('pets')? 'is-invalid': '' }" />
        <strong class="text-danger"
        th:if="${#fields.hasErrors('pets')}"
        th:errors="*{pets}"
        >Mensagem de erro pets</strong>
    </div>
</div>
<br/>

  <div class="row">
    <label class="col-sm-3" for="password1">Senha:</label>
        <div class="form-group col-sm-9">
          <input class=" form-control" type="password" id="password1" 
          th:field="*{password1}" 
          th:classappend="${#fields.hasErrors('password1')? 'is-invalid': '' }" />
          <strong class="text-danger"
          th:if="${#fields.hasErrors('password1')}"
          th:errors="*{password1}"
          >Mensagem de erro password1</strong>
      </div>
  </div>
  <br/>

  <div class="row">
    <label class="col-sm-3" for="password2">Confirme a senha:</label>
        <div class="form-group col-sm-9">
          <input class=" form-control" type="password" id="password2" 
          th:field="*{password2}" 
          th:classappend="${#fields.hasErrors('password2')? 'is-invalid': '' }" />
          <strong class="text-danger"
          th:if="${#fields.hasErrors('password2')}"
          th:errors="*{password2}"
          >Mensagem de erro password2</strong>
      </div>
  </div>
  <br/>

  <div class="row" th:classappend="${#fields.hasErrors('status')? 'is-invalid': '' }">
    <label class="col-sm-3" for="status">Status:</label>
      <div class="form-group col-sm-9">
        <div th:each="item: ${status}" class="row">
            <label><input type="radio" name="status" th:value="${item.value}" 
              th:text="${item.key}" th:field="*{status}" />
            </label> 
          </div>
          <strong class="text-danger"
                th:if="${#fields.hasErrors('status')}"
                th:errors="*{status}"
                >Mensagem de erro status</strong>
        </div>
      </div> 
  <div class="row">
     <input type="submit" value="Registrar" class="col-sm-3 btn btn-primary" />
  </div> 
  </form>    
</body>
</html>